@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
header {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin-top: 12px;
}
header nav ul {
  list-style: none;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  gap: 44px;
}
header nav ul a {
  transition-duration: 0.3s;
}
header nav ul a:hover {
  color: #abecd6;
}
header nav button {
  width: 48px;
  height: 48px;
  border: 1px solid #35383c;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
}
header nav button .bi-search {
  font-size: 1.1rem;
}

.hero-container {
  display: flex;
  align-items: center;
  height: 100vh;
}
.hero-container .hero-content sub {
  color: #f4edba;
  background-color: rgba(244, 237, 186, 0.1);
  padding: 10px 25px;
  border-radius: 25px;
}
.hero-container .hero-content h1 {
  font-size: 5rem;
  line-height: 5.2rem;
  margin-block: 40px 30px;
}
.hero-container .hero-content p {
  color: #9da4a4;
  line-height: 1.7rem;
  margin-bottom: 30px;
}
.hero-container .hero-content form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 61px;
  padding: 1px;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
}
.hero-container .hero-content form::before {
  content: "";
  position: absolute;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  left: -35px;
  right: 610px;
  top: -35px;
  transform: rotate(0deg);
  background: linear-gradient(to right, transparent, transparent, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.6), rgba(171, 236, 214, 0.8), #abecd6, white);
  animation: rotate 3.5s linear infinite;
}
.hero-container .hero-content form::after {
  content: "";
  position: absolute;
  top: 1px;
  bottom: 1px;
  right: 1px;
  left: 1px;
  border-radius: 60px;
  background-color: #13161b;
}
.hero-container .hero-content form .input-container {
  background-image: linear-gradient(to top, transparent, rgba(53, 56, 60, 0.5));
  width: 680px;
  padding: 10px 15px;
  border-radius: 60px;
  display: flex;
  display: relative;
  z-index: 2;
}
.hero-container .hero-content form .input-container i {
  font-size: 30px;
  color: #abecd6;
  padding-inline: 30px;
}
.hero-container .hero-content form .input-container input {
  outline: none;
  background: transparent;
  border: none;
  color: #9da4a4;
  font-family: inherit;
  font-size: 0.9rem;
  flex: 1;
}
.hero-container .hero-content form .input-container button {
  background-color: rgba(157, 164, 164, 0.15);
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-family: inherit;
  font-size: 0.8rem;
  font-weight: bolder;
  transform: scale(1);
  transition: ease-out 0.3s;
}
.hero-container .hero-content form .input-container button:hover {
  transform: scale(1.1);
}
.hero-container .hero-parallaxbg {
  position: absolute;
  right: 0;
  transform: rotate(-20deg);
  display: flex;
  gap: 70px;
}
.hero-container .hero-parallaxbg img.l1 {
  transform: translateY(100px);
}

.hero-topDivider {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 18vh;
  background-image: linear-gradient(to bottom, #13161b, rgba(19, 22, 27, 0.8), rgba(19, 22, 27, 0.6), rgba(19, 22, 27, 0.3), transparent);
  z-index: 1;
}

.bi-triangle-fill {
  color: #abecd6;
  font-size: 35px;
  position: absolute;
  top: 20vh;
}

.hero-bottomDivider {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 18vh;
  background-image: linear-gradient(to top, #13161b, rgba(19, 22, 27, 0.8), rgba(19, 22, 27, 0.6), rgba(19, 22, 27, 0.3), transparent);
  z-index: 1;
}

@keyframes rotate {
  0% {
    left: -35px;
    right: 610px;
    top: -35px;
    transform: rotate(0deg);
  }
  47% {
    left: 635px;
    right: -35px;
    top: -35px;
    transform: rotate(0deg);
  }
  50% {
    left: 635px;
    right: -35px;
    top: 35px;
    transform: rotate(180deg);
  }
  93% {
    left: -35px;
    right: 610px;
    top: 35px;
    transform: rotate(180deg);
  }
  100% {
    left: -35px;
    right: 610px;
    top: -35px;
    transform: rotate(360deg);
  }
}
:root {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 20px;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  padding: 0;
  margin: 0;
}

body {
  background-color: #13161b;
  height: 300vh;
}

.section {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.container {
  width: 1200px;
}

.follower {
  width: 50px;
  height: 50px;
  background-color: blue;
  position: fixed;
  z-index: 9999;
  pointer-events: none;
  /* Menghindari elemen ini ikut terpilih oleh cursor */
  border-radius: 50%;
  /* Untuk membuatnya menjadi lingkaran */
}/*# sourceMappingURL=main.css.map */